PORT=8888
ENV_TYPE=development
LOG_LEVEL=info
DOCS_USERNAME=admin
DOCS_PASSWORD=admin
GRAXON_PUBLIC_URL=http://localhost:8888

# Frontend
CLIENTS="http://locahost:5995"


# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password


# Postgrsql
POSTGRESQL_USERNAME=graxon_admin
POSTGRESQL_PASSWORD=password
PGBOUNCER_HOST=localhost
PGBOUNCER_PORT=5433


# qDrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334


# Neo4j
NEO4J_HOST=localhost
NEO4J_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password


# Minio
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=graxon_admin
MINIO_ROOT_PASSWORD=password


# Rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=graxon_admin
RABBITMQ_PASSWORD=password
