PORT=8888
ENV_TYPE=development
LOG_LEVEL=info
DOCS_USERNAME=admin
DOCS_PASSWORD=admin
GRAXON_PUBLIC_URL=http://localhost:8888

CLIENTS=http://localhost:5995

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

POSTGRESQL_USERNAME=graxon_admin
POSTGRESQL_PASSWORD=password
PGBOUNCER_HOST=pgbouncer
PGBOUNCER_PORT=5432

QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334

NEO4J_HOST=neo4j
NEO4J_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ROOT_USER=graxon_admin
MINIO_ROOT_PASSWORD=password
MINIO_REGION=ap-south-1

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=graxon_admin
RABBITMQ_PASSWORD=password
RABBITMQ_MANAGEMENT_PORT=15672

DOCUMENT_CONSUMER_COUNT=5

CHUNK_SIZE=1500
CHUNK_OVERLAP=200
MAX_CHUNKS=10000

GTE_EDGE_VECTOR_SIMILAR_THRESHOLD=0.75
GTE_QDRANT_POINT_SCORE_THRESHOLD=0.45

EQ_MAX_LANE_COUNT=3
EQ_MAX_LANE_ENTITY=3
EQ_GTE_LANE_WEIGHT_THRESHOLD=0.7
EQ_MAX_LANE_CHUNKS=5
EQ_MAX_CHUNKS=5
